.cardNews {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 2px 2px 6px var(--shadow);
  background-color: white;
}

.cardNews__content {
  margin-right: 20px;
}

.cardNews img {
  border-radius: 10px;
  max-width: 100px;
  object-fit: cover;
}

.cardNews__title {
  margin-top: 0;
  font-size: 1rem;
}

.cardNews__author {
  margin: 0;
}
