.navbar {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px var(--shadow);
}

.navbar__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  list-style: none;
}

.navbar__item {
  display: flex;
}

.navbar__item a {
  flex: 1;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.navbar__item a.active {
  font-weight: bold;
  background-color: #dcd6f7;
}
