:root {
  --body-bg: #f4eeff;
  --main-bg: #f9f9f9;
  --shadow: #e1e5ea;
}

body {
  padding-top: 30px;
  background-color: var(--body-bg);
}

main {
  position: relative;
  padding: 20px;
  width: 375px;
  height: 667px;
  margin: auto;
  overflow: scroll;
  background-color: var(--main-bg);
}
